.container {
  margin: 0 30px;
  padding: 20px 0;
}

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__header img {
  object-fit: cover;
  width: 150px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
}

.buttons .joinBtn {
  color: #666;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  letter-spacing: 0.9px;
}

.buttons .joinBtn:hover {
  background-color: #eee;
  color: #000;
}

.buttons .signinBtn {
  border: 1px solid #222;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 10px 20px;
  letter-spacing: 0.9px;
  font-size: 1rem;
  cursor: pointer;
  border-top-color: #01579b;
  border-bottom-color: #01579b;
  border-right-color: #1976d2;
  border-left-color: #1976d2;
  color: #1565c0;
  font-weight: bold;
  transition: 125ms ease-in-out;
  -webkit-transition: 125ms ease-in-out;
  -moz-transition: 125ms ease-in-out;
  -ms-transition: 125ms ease-in-out;
  -o-transition: 125ms ease-in-out;
}

.buttons .signinBtn:hover {
  background-color: #81d4fa4a;
  box-shadow: inset 0 0 0 2px #2196f3;
}

.home__body {
  margin-top: 150px;
  color: #283593;
  font-size: 1.5rem;
}
